[flake8]
max-line-length = 79
extend-select = B,B950
extend-ignore = E203,W503,E501
exclude =
    .git,
    .mypy_cache,
    .pytest_cache,
    .ruff_cache,
    app/.venv,
    app/build,
    app/dist,
    web/dist
per-file-ignores =
    app/tests/conftest.py:E402
